body{
    background-color:antiquewhite
}
.area{
    margin-top: 200px;
    margin-left: 480px;
    .bt{
        margin-top: 10px;
        
    }
    .restbtn{
        margin-left: 130px;
    }
    input{
        margin-bottom: 20px;
    }
}

